html, body{
   background-color: #141618;
   height: 95%;
}

#intro{
  position: absolute;
  width: 50%;
  height: 40%;
  left: 2%;
  top: 5%;
  margin: 2px 2px 2px 2px;
  color: white;
  font-family: "Museo 500";
}

#manuten{

  position: absolute;
  width: 35%;
  height: 91%;
  right: 2%;
  top: 2%;
  margin: 2px 2px 2px 2px;
  border-radius: 6px 6px 6px 6px;
  border: 5px solid #f02511;
  color: white;
  font-family: "Museo 500";

}

p.tittle{
  text-align: center;
  font-size: 30px;
}

#avisos{
  position: absolute;
  width: 50%;
  height: 40%;
  left: 2%;
  bottom: 5%;
  margin: 2px 2px 2px 2px;
  border-radius: 6px 6px 6px 6px;
  border: 5px solid #f02511;
  color: white;
  font-family: "Museo 500";
}
