
html, body{

  background-color: #141618;
  height: 98.5%;
}

nav#menu{
  width: auto;
  height: 6%;
  position: relative;

}

#conteudo{

  margin: 0.3% 0.2% 0.1% 0.1%;
  pading: 1px;
  width: auto;
  height: 90%;

}

#foot{

  background-color: #777777;
  text-align: center;
  width: auto;
  height: 3%;
  position: relative;
  top: 0.4%;
  border-radius: 6px 6px 6px 6px;
  color: white;
  font-family: "Museo 500";
  font-size: 15px;

}

.button{
  position: relative;
  background-color: #777777;
  text-decoration: none;
  display: inline-block;
  padding: 0.8%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  align: center;
  color: white;
  font-family: "Museo 500";
  font-size: 15px;
  width: 10.62%;
  top: 1%;

}

.button:hover {
  background-color: #f02511;
  color: white;

}

#frame{
  position: relative;
  width: 99.9%;
  height: 99%;
  border-radius: 6px 6px 6px 6px;
}
